<article id="callout-block">
	<div class="container">
		<h2>{{post.get_field('callout_title')}}</h2>
		<p>{{post.get_field('callout_text')}}</p><br><br>
		<a href="{{post.get_field('callout_button_url')}}" class="btn dark white">{{post.get_field('callout_button_text')}}</a>
	</div><!-- .container -->
</article><!-- #callout-block -->