<div id="product_popup_wrapper">
  <div class="product-image" style="background: url({{TimberImage(post.image).src('interior-product')}}) center center no-repeat; background-size: cover;"></div><!-- .image-wrap -->
  <div class="flex-box">
    <div class="product-info">
      <h3>{{post.title}}</h3>
      {{post.get_field('description')}}
      </div><!-- .product-info -->
    </div><!-- .flex-box -->
</div>