<article id="showcase">
	<div class="showcase-container">
		<div class="image-container">
			<img src="{{TimberImage(post.showcase_image).src('interior-showcase')}}" data-bottom-center="top: -30px" data-top-center="top: 30px;"/>
		</div><!-- .image-container -->
		<div class="caption skrollable skrollable-between" data-0="top: 7.5%;" data-top="top: 45%;">
			"{{post.get_field('showcase_quote')}}"
		</div><!-- . -->
	</div><!-- .showcase-container -->
</article>