{% extends "base.twig" %}

{% block content %}
<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			
			{% include 'partials/hero-banner.twig' %}

			<script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
			<article id="content-body" class="map">
				<div id="map-canvas"></div><!-- #map -->
				<div class="location-rte">
					{% for contact_section in post.get_field('contact_info_section') %}
						 {% include 'partials/contact-section.twig' %}
					{% endfor %}
				</div><!-- . -->
			</article><!-- .content-body -->

			{% if post.get_field('display_callout_section') %}
			{% include 'partials/callout.twig' %}
			{% endif %}

		</main><!-- #main -->
	</div><!-- #primary -->
	{% endblock %}