{% extends "base.twig" %}

{% block content %}
<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		<article id="hero">
			<div class="flexslider">
			  <ul class="slides">
			  	{% for slide in post.get_field('home_slides') %}
				     {% include 'partials/home-slide.twig' %}
				{% endfor %}
			  </ul><!-- .slides -->
			</div><!-- .flexslider -->
		</article><!-- #hero -->

		<article id="company-information">
			<div class="container">
				<h1>{{post.get_field('tagline_title')}}</h1>
				<p class="description">{{post.get_field('tagline_text')}}</p>

				{% if post.get_field('display_feature_boxes_section') %}
					<div class="grid grid-pad grid-pull">
						{% for box in post.get_field('feature_boxes') %}
						     {% include 'partials/home-feature-box.twig' %}
						{% endfor %}
					</div><!-- .grid -->

					{% if post.feature_box_learn_more_url %}
					<a href="{{post.get_field('feature_box_learn_more_url')}}" class="btn lg dark solid">Learn More</a>
					{% endif %}
				{% endif %}
			</div><!-- .container -->
		</article><!-- #company-information -->

		{% if recent_posts %}
		<article id="post-grid">
			{% for post_tease in recent_posts %}
			     {% include 'partials/home-post-block.twig' %}
			{% endfor %}
		</article><!-- #post-grid -->
		{% endif %}

		{% if post.testimonials %}
		<article id="testimonials">
			<div class="container">
				<h3 class="title">Testimonials</h3>
				<div class="flexslider">
				  <ul class="slides">
				  	{% for testimonial in post.get_field('testimonials') %}
						{% include 'partials/home-testimonial.twig' %}
					{% endfor %}
				  </ul><!-- .slides -->
				</div><!-- .flexslider -->
			</div><!-- .container -->
		</article><!-- #testimonials -->
		{% endif %}

	</main><!-- #main -->
</div><!-- #primary -->
{% endblock %}