{% extends "base.twig" %}

{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			
			{% include 'partials/hero-banner.twig' %}

			{# TODO: Might need to tweak this? #}
			<article id="post-grid">
				{% for post_tease in posts %}
					{% include 'partials/home-post-block.twig' %}
				{% endfor %}
			</article><!-- #post-grid -->

			<article id="callout-block">
				<div class="container">
					<a href="#" class="btn dark white">Load More</a>
				</div><!-- .container -->
			</article><!-- #callout-block -->

		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}