{% extends "base.twig" %}

{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			
			{% include 'partials/hero-banner.twig' %}

			<article id="content-body">
				<div class="container">
					{% include 'partials/post-content-columns.twig' %}
				</div><!-- .container -->
			</article><!-- #content-body -->

			{% if post.get_field('display_showcase_section') %}
			{% include 'partials/showcase.twig' %}
			{% endif %}

			{% if post.get_field('display_callout_section') %}
			{% include 'partials/callout.twig' %}
			{% endif %}
		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}