{% extends "base.twig" %}

{# TODO #}
{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
		
			{% include 'partials/hero-banner.twig' %}

			<article id="product-grid" class="modal-grid">
				<div class="container">
					{% for portfolio_item in posts %}
						{% set vars = {
							'id': portfolio_item.ID,
							'image_id': portfolio_item.gallery_images[0],
							'title': portfolio_item.title,
							'subtitle': portfolio_item.location,
							'type': 'portfolio'
						} %}
						{% include 'partials/grid-item.twig' with vars only %}
					{% endfor %}
				</div><!-- .container -->
			</article><!-- #product-grid -->

			{# TODO #}
			<article id="callout-block">
				<div class="container">
					<a href="#" class="btn dark white">Load More</a>
				</div><!-- .container -->
			</article><!-- #callout-block -->

		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}