{% extends "base.twig" %}

{# TODO #}
{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			
			{% include 'partials/hero-banner.twig' %}

			<article id="product-grid" class="modal-grid">
				<div class="container">
					{% for product in posts %}
						{% set vars = {
							'id': product.ID,
							'image_id': product.image,
							'title': product.title,
							'type': 'product'
						} %}
						{% include 'partials/grid-item.twig' with vars only %}
					{% endfor %}
				</div><!-- .container -->
			</article><!-- #product-grid -->

		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}