{% extends "base.twig" %}

{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
		
			{% include 'partials/hero-banner.twig' with {'post': news_page, 'hero_image': post.thumbnail.ID} only %}
		
			<article id="content-body" class="post-type-{{post.post_type}} post-{{post.ID}}">
				<div class="container">
					{% include 'partials/post-content-columns.twig' %}
				</div><!-- .container -->
			</article><!-- #content-body -->
			
			<article id="callout-block">
				<div class="container">
					<a href="{{news_page.link}}" class="btn dark white">Back To {{news_page.title}}</a>
				</div><!-- .container -->
			</article><!-- #callout-block -->

		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}
