@import "interior-hero.less";
@import "interior-showcase.less";
@import "interior-team-grid.less";
@import "location-page.less";
@import "modal-grids.less";
@import "callout.less";


#content-body {
  padding: 65px 0;
  background: @white;

    &.blog,
    &.map { padding: 0; }

    .container {
      padding: 0;
      margin: 0 auto;
      max-width: 1030px;
    }//.container

    .content {
      font-size: 18px;
      line-height: 160%;

        h1, h2, h3, h4, h5, p.h1 {
          color: @text-color;
          text-transform: uppercase;
          font-family: @font-family-opensans;
        }//h1

        h1, p.h1 { font-size: 42px; line-height: 120%; margin-bottom: 10px; }

        &.flex {
          display: flex;
          flex-direction: row;

          > div { padding: 0 32px; flex: 1; }
        }//.flex

        &.full {
          padding: 0 20px;
          min-height: 250px;
        }//.full
    }//.content
    @media @mobile-lg, @mobile {
      padding: 50px 0;

        .content {
          font-size: 16px;

            &.flex { display: block; }//.flex
            h1 { font-size: 36px; }
        }//.content
    }//@mobile

    &.post-type-post .container { padding: 0 20px; }
}//#content-body
